@import "_color.scss";


$numero: 720px;


//operaciones
div{
    width: $numero/2;
}

//condicional
$animal: perro;

div {

    @if $animal == pato {
        color: blue;
    } @else if $animal != pato {
        color: black;
    }
}


//bucles
@for $i from 1 through 6 {
    //interpolaciones
    h#{$i} {
        font-size: 24em / $i1
    }
}